header {
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 10;
  top: 0;
}

header .headband {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  box-shadow: var(--secondary-color) 0 0 10px;
}

header .headband .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .headband .left .img-container {
  margin: 10px;
}

header .headband .left .title {
  margin-block-start: auto;
  margin-block-end: auto;
  text-shadow: -1px -1px 1px var(--light-color), 1px -1px 1px var(--light-color),
  -1px 1px 1px var(--light-color), 1px 1px 1px var(--light-color);
}

header .headband .middle .slogan {
  margin: 0 20px;
}

header .headband .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .headband .right .login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--light-color);
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header .headband .right .login-button:hover {
  background-color: var(--light-color);
  color: var(--secondary-color);
}

header .headband .right .logout-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--danger-color);
  color: var(--light-color);
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header .headband .right .logout-button:hover {
  background-color: var(--light-color);
  color: var(--secondary-color);
}

header .headband .right .welcome-message {
  text-align: center;
  margin-right: 20px;
}

header .headband .right .basket-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: var(--secondary-color);
  color: var(--light-color);
  margin-right: 16px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header .headband .right .wishlist-button:hover,
header .headband .right .basket-button:hover {
  background-color: var(--light-color);
  color: var(--secondary-color);
}

header .headband .right .wishlist-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: var(--secondary-color);
  color: var(--light-color);
  margin-right: 16px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header .headband .right .wishlist-button .material-icons {
  font-size: 16px;
  margin-right: 8px;
  transition: opacity 0.3s ease;
  color: white;
}

header i.material-icons,
header i.material-icons-outlined {
  font-size: 16px;
  margin-right: 8px;
}

.wishlist-quantity-badge,
.basket-quantity-badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: -10px;
  right: -10px;
  width: 5px;
  height: 15px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: var(--info-color);
  color: var(--light-color);
  font-size: 12px;
}

/* Media Queries */

@media (max-width: 768px) {
  header .headband .left .title {
    display: none;
  }

  header .headband .right .basket-button span,
  header .headband .right .wishlist-button span,
  header .headband .right .login-button span,
  header .headband .right .logout-button span {
    display: none;
  }

  header .headband .right .basket-button i,
  header .headband .right .wishlist-button i,
  header .headband .right .login-button i,
  header .headband .right .logout-button i {
    margin-right: 0;
  }
}

@media (max-width: 520px) {
  header .headband .middle .slogan {
    display: none;
  }
}
