@font-face {
  font-family: "Belanosima";
  src: url("/src/resources/fonts/Belanosima/Belanosima-Regular.ttf");
}

@font-face {
  font-family: "DM_Sans";
  src: url("/src/resources/fonts/DM_Sans/DMSans-Regular.ttf");
}

:root {
  --primary-color: #ff8c00;
  --secondary-color: #696969;
  --tertiary-color: #708090;
  --light-color: #fff0f5;
  --gray-color: #e0ffff;

  --success-color: #4fc559;
  --danger-color: #e0333e;
  --warning-color: #ffc55c;
  --info-color: #4a83c3;

  --font-family: "DM_Sans", sans-serif;
}

html {
  /* I have no idea why this is not working at all */
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--light-color);
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}
