@font-face {
  font-family: 'Carbon';
  src: url('/src/resources/fonts/carbon-font/CarbonPersonalUseBold-VGedw.ttf');
}

@font-face {
  font-family: 'Lemon Jelly';
  src: url('/src/resources/fonts/lemon-jelly-font/LemonJellyPersonalUse-dEqR.ttf');
}

@font-face {
  font-family: 'Youth Touch';
  src: url('/src/resources/fonts/youth-touch-font/YouthTouchDemoRegular-4VwY.ttf');
}

:root {
  --primary-color: #FF8C00;
  --secondary-color: #696969;
  --tertiary-color: #708090;
  --light-color: #FFF0F5;
  --gray-color: #E0FFFF;

  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --link-color: #007bff;
}

/* Global */

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--light-color);
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}
