@font-face {
  font-family: "Belanosima";
  src: url("/src/resources/fonts/Belanosima/Belanosima-Regular.ttf");
}

:root {
  --primary-color: #ff8c00;
  --secondary-color: #696969;
  --tertiary-color: #708090;
  --light-color: #fff0f5;
  --gray-color: #e0ffff;

  --success-color: #4fc559; /* Medium Sea Green: A less saturated, more modern color for success messages */
  --danger-color: #e0333e; /* Light Coral: A softer, less harsh color for danger messages */
  --warning-color: #ffc55c; /* Navajo White: A softer, less intense color for warnings */
  --info-color: #4a83c3; /* Cadet Blue: A softer, less intense color for informational messages */
}

/* Global */

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--light-color);
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}
